<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <link href="bootstrap-switch.css" rel="stylesheet">
    <link href="~/templates/cssmenu/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-collapse collapse">
                <div id='cssmenu'>

                    <img id="logoImg" src="~/img/logo.png" />
                    <ul>
                        <li class='pull-left nohover'><a href='#'><span style="font-weight:800">App Title</span></a></li>
                        <li class='active nohover' style="margin-left:10px"><a href='#'><span>Home</span></a></li>
                        <li><a href='#'><span>Products</span></a></li>
                        <li><a href='#'><span>Company</span></a></li>
                        <li class='last pull-right'><a href='#'><span>Log in</span></a></li>

                    </ul>

                
                </div>

            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap-switch.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.5/angular-filter.js"></script>
    <script src="~/bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="~/bower_components/angularUtils-pagination/index.js"></script>
    <script src="~/bower_components/angularUtils-pagination/package.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
