@model MtgCollectionWebApp.Models.CardsViewModel


<table id="table" class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Mana Cost
        </th>
        <th>
           Artist
        </th>
        <th>
            Text
        </th>
        <th>
            Flavour
        </th>
        <th>
            Power
        </th>
        <th>
            Toughness
        </th>
        <th>
            Image
        </th>

        <th>
            Details
        </th>
    </tr>

    @foreach (var item in Model.Cards)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardManaCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardArtist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardFlavour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardPower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardToughness)
            </td>
            <td>
                <img src="@item.CardImageUrl" />
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CardId })
            </td>
        </tr>
    }
</table>