@model  IEnumerable<MtgCollectionWebApp.Models.CardsViewModel>


<table id="table" class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Mana Cost
        </th>
        <th>
           Artist
        </th>
        <th>
            Text
        </th>
        <th>
            Flavour
        </th>
        <th>
            Power
        </th>
        <th>
            Toughness
        </th>
        <th>
            Image
        </th>

        <th>
            Details
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Card.CardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.CardType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.CardManaCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.CardArtist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.CardText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.CardFlavour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.CardPower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card.CardToughness)
            </td>
            <td>
                <img src="@item.Card.CardImageUrl" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }
</table>