@model MtgCollectionWebApp.Models.CollectionEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CollectionEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CollectionEntryCard.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionEntryCard.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CollectionEntryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
