@model IEnumerable<MtgCollectionWebApp.Models.EntryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>@Model.First().collectionID</tr>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Image</th>
    </tr>

    @if (Model.First().Card != null)
    {
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Card.CardName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <img src="@item.Card.CardImageUrl" />
                    </td>
                    <td>

                    </td>
                </tr>
            }
        }
    }
   
 
</table>
